# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Autumn_2022\taskbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
